body{
    background-color: rgb(0, 212, 255);
    background: linear-gradient(
        rgba(0, 212, 255, 1) 0%,
        rgba(11,3,45, 1) 100%
    );
    background-image: url(images/cardbg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.primary-header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 150px;
    transition: background-color 0.5s;
}

.containera {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 1.5rem;
}

.navbar {
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,0.05);
    transition: height 0.25s;
}

.logo img{
    margin-left: 20px;
    width: 120px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    margin-left: 5rem;
    margin-right: auto;
}

.nav-link{
    transition: color .25s;
    font-weight: 200;
}

.nav-link:hover {
    color: black;
    font-size: 200;
}

li {
    margin-left: 160px;
    font-size: 35px;
}

.button{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: #d3d3d3;
}

header.active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

header.active .navbar{
    height: 6rem;
}
header.active .logo,
header.active .navlink{
    color: #313131
}

header.active .nav-link:hover{
    color: #808080
}

header.active .button{
    background-color: #313131;
    color: #fff;
}

header.active .button:hover{
    background-color: #151515;
}

a:link {
    color: #C0C0C0;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:visited {
    color:  #C0C0C0;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:hover {
    color:  #C0C0C0;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
  }
  
  a:active {
    color:  #C0C0C0;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
  }

.container{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 38px;
    filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.banner-image {
    background-image: url(images/bogár.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.255);
}

h1 {
    font-family: "Roghteous", sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 2.4rem;
}

p {
    color: #fff;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.outline {
    background: transparent;
    color: rgba(0, 212, 255, 0.9);
    border: 1px solid rgba(0, 212, 255, 0.6);
    transition: all 0.3 ease;
}

.outline:hover {
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
}

.fill {
    background: rgba(0, 212, 255, 0.9);
    color: rgba(255, 255, 255, 0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all 0.3 ease;
}

.fill:hover{
    transform: scale(1.125);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
    transition: all 0.3 ease;
}

.row{
    margin-left: 50px;
    margin-right: 50px;
}

.rowone{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 450px;
}

.esemenyek {
    width: 50%;
    margin: auto;
    margin-top: 150px;
}

